[Unit]
Description=Calculate Feels Like Temperature Service

[Service]
ExecStart=/usr/bin/python3 /home/pi/calculateFeelsLike.py
Restart=always
RestartSec=20s
User=pi
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target